body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #6a6a70;
}

h2 {
    text-align: center;
    color: rgb(10, 10, 10);
}

.question {
    background: #abb4b8;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: 0.2s;      /* smooth hover */
}

.question:hover {
    background: #eaeaea;    /* light hover effect */
}

/* labels hover */
label {
    display: block;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

label:hover {
    background: #ddd;       /* highlight when hovered */
    cursor: pointer;
}

/* buttons */
button {
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    transition: 0.2s;
}

button:hover {
    background: #005fcc;
    transform: scale(1.05);   /* small zoom effect */
}

#resetBtn {
    background: #777;
}

#resetBtn:hover {
    background: #555;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
